<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="CARDEntities" connectionString="metadata=res://*/cards.csdl|res://*/cards.ssdl|res://*/cards.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DITLPT050\SQL2019;initial catalog=CARD;user id=sa;password=pass@word1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="cardEntities" connectionString="metadata=res://*/card.csdl|res://*/card.ssdl|res://*/card.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DITLPT050\SQL2019;initial catalog=CARD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CardEntities" connectionString="metadata=res://*/Card.csdl|res://*/Card.ssdl|res://*/Card.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DITLPT050\SQL2019;initial catalog=CARD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CARDEntities1" connectionString="metadata=res://*/Cards.csdl|res://*/Cards.ssdl|res://*/Cards.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DITLPT050\SQL2019;Initial Catalog=CARD;Persist Security Info=True;User ID=sa;Password=pass@word1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>